html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image : url("depositphotos_282336788-stock-photo-smiling-medical-doctor-woman-with.jpg");
  background-size:cover;
}